body{
	margin:auto;
	padding:0;
	background-color: #feeaee;
	
	
	
}


*{
	font-family:Georgia, 'Times New Roman', Times, serif;
	box-sizing:border-box;
}



img{
    padding: auto;
    
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px white;
}
.container{
	
	display: flex;
	justify-content:center;
	align-items: center;
	color:#cdec00;
	background:#2d2c358c;
	margin-top:4vh;
	margin-left:20vw;
	margin-right:20vw;
	border-radius:25px;
	border: 6px solid black;
}
.about{
	
	display: flex;
	justify-content:center;
	align-items: center;
	
}
.content{
	text-align:center;
}
.section{
	display:flex;
	justify-content:center;
	align-items: center;
	color:Black;
	margin-left:8vw;
	margin-right:8vw;
}
.sec{
	font-size:1.6em;
}
.box1{
	width: 320px;
  padding: 7px;
  border: 6px solid white;
  margin-top: 3vh;
  background:black;
  color:white;
  border-radius:25px;
}	
.box2{
	width: 320px;
  padding: 7px;
  border: 6px solid white;
  margin-top: 3vh;
  background:black;
  color:white;
  border-radius:25px;
  
}

footer{
    background: #343a40;
    color: #686868;
    height: 20px;
    width: 100%;
    text-align: center;
    margin-top:10px;
    left: 0px;
}
.amaze,.wow{
    color:aqua;
}
	